

.shepherd-theme-light>.shepherd-content {
    background-color: whitesmoke !important;
    border-radius: 1rem !important;
    padding: 16px !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}

.shepherd-theme-light>.shepherd-arrow {
    color: whitesmoke !important;
}

.shepherd-theme-light>.shepherd-content>.shepherd-header {
    background-color: rgb(33, 33, 33) !important;

    padding: 8px !important;
    border-radius: 10px;
    justify-content: center !important;
    align-items: center !important;
}

.shepherd-theme-light>.shepherd-content>.shepherd-header>.shepherd-title {
    color: white !important;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    justify-content: center !important;
    align-items: center !important;
}

.shepherd-cancel-icon {
    color: rgb(209, 209, 209) !important;
    font-size: 3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


.shepherd-theme-light>.shepherd-content>.shepherd-footer>.shepherd-button {
    background-color: black !important;
    color: white !important;
    border-radius: .8rem !important;
    font-weight: 600;
    letter-spacing: 1px;
}

/* CSS for highlighting the target element */
.highlighted {
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 20px;
    border: solid;
    padding: 2px;

}

.shepherd-theme-light>.shepherd-content>.shepherd-footer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
}

.shepherd-theme-light>.shepherd-content>.shepherd-footer>.shepherd-progress-bar {
    font-size: 14px;
    border-radius: 9px;
    height: 20px;
    width: 100%;
    max-width: 180px;
    padding: 4px;
    background: black;
}

.shepherd-progress-bar span {
    display: block;
    background: white;
    height: 100%;
    border-radius: 9px;
}