@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Woff';
    src: local('Woff'),
        url('./assets/fonts/font.woff2') format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-family: 'Woff';
}