@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Woff';
    src: local('Woff'),
        url('/fonts/font.woff2') format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-family: 'Woff';
}
/* Highlight the winning line cells in green */
.board-cell.winning-line {
    background-color: #32CD32;
    /* Green color for winning line */
}
.blur {
    filter: blur(5px);
}